%btn {
  font-size: 1.4rem;
  text-transform: uppercase;
  color: white;
  background: transparent;
  padding: 1.5rem 3rem;
  border: 2px solid white;
  width: auto;
  border-radius: 4rem;
  margin: 0 auto;
  margin-bottom: 1rem;
  display: inline-block;
  font-weight: bold;
  cursor: pointer;
  text-align: center;

  @media (max-width: screen-xs){
    width: 100%;
  }

}

%btn-work {
  font-size: 1.4rem;
  text-transform: uppercase;
  color: $prime;
  background: transparent;
  padding: 1.5rem 3rem;
  border: 2px solid $prime;
  width: auto;
  border-radius: 4rem;
  margin: 0 auto;
  margin-bottom: 1rem;
  display: inline-block;
  font-weight: bold;
  cursor: pointer;
  text-align: center;

  @media (max-width: screen-xs){
    width: 100%;
  }

}

.btn-prime {
  @extend %btn;
  color: $prime;
  background: #fff;
  border: 2px solid $prime;

  &:hover {
    background: $prime;
    color: #fff;
  }
}

.btn-second {
  @extend %btn;
  background: $second;
  border: 2px solid $second;

  &:hover {
   border: 2px solid #fff;
    background: #fff;
    color: $second;
  }
}

.btn-outline {
  @extend %btn;

  &:hover {
    background: #fff;
    color: $prime;
  }
}

.btn-small {
  padding: 1rem 2rem;
  font-size: 1rem;
 
 
}

.btn-large {
  padding: 1.9rem 5.1rem;
}
.btn-mywork {
 @extend %btn-work;

  &:hover {
    background: $prime;
    color: #fff;
  } 

}

// modal icon
.btn-outline-m {
  @extend %btn-work;

  &:hover {
    background: $prime;
    color: #fff;
  }
}

.btn-second-m {
  @extend %btn;
  color: $second;
  border: 2px solid $second;

  &:hover {
   border: 2px solid $second;
    background: $second;
    color: #fff;
  }
}